@charset "utf-8";
/* CSS Document */
body/*this conects to the body*/ {
	 background-color:#1c4587ff;
	 color: #FFFFFF;/*this changes the word color*/
	 font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";/*this changes the font*/
	 font-weight: 400;/*this changes the font weight*/
}
h1{
	color: #FFFFFF;
	font-size:2.5vw;
}
h2{
	color: #FFFFFF;	
	font-size:1.88vw;
}
h3{
	color: #FFFFFF;
	font-size:1.46vw;
}
p{
	color: #FFFFFF;
	font-size:1.2vw;
}
li{
	color: #FFFFFF;
	font-size:1.25vw;
}

#title {/*this uses postion absolet to make it where i wanted to be to the specfic %*/
	position:absolute;
	left:0%;
	top:0%;
	width:100%;
	height:62.5%;
	background-color:#392273ff;
}
#title2 {/*how position absolute is used is in id title*/
	position:absolute;
	TOP:6%;
	LEFT:29.2%;
	width:70.8%;
	height:40%;
	border:0;
	font-size: 3.7vw;
	color: #ffffff;
}
#navbar {/*how position absolute is used is in id title*/
	position:absolute; 
	TOP:50%; 
	LEFT:29.2%; 
	HEIGHT:32%; 
	width:66.6%; 	
	background-color:#666666ff;
	font-size: 1.95vw;
	
}
a {
  color:#FFFFFF;
}
a:visited {
  color:#FFFFFF;
}
#logo {/*how position absolute is used is in id title*/
	position:absolute; 
	TOP:10%; 
	LEFT:0%;
	float:left;
}
.borderedcells {/*the css mainly uses ids but does have a few classes as some things needed the same lables*/
  border: 1px solid black;
}
* {box-sizing: border-box;}
.mySlides {display: none;}/*this makes it display what the java script gives it for myslides from the html*/

.slideshow-container {/*how position absolute is used is in id title*/
  position:absolute; 
  TOP:68.7%; 
  LEFT:29.2%;
  HEIGHT:87.5%; 
  width:66.6%;
}


.active {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;/*the duration i want the fade for the slides to have*/
  animation-name: fade;
  animation-duration: 1.5s;/*the duration i want the fade for the slides to have*/
}
@-webkit-keyframes fade {/*this makes the fade that the slides use happens*/
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {/*this makes the fade that the slides use happens*/
  from {opacity: .4} 
  to {opacity: 1}
}
.ssimage{/*mr Jessop helped me figure out how to make the images in the slide show squish*/
	position:absolute;
	top:1%;
	left:1.7%;
}
#Himpact1{/*how position absolute is used is in id title*/
  position:absolute; 
  TOP:68.7%; 
  LEFT:1.7%; 		
}
#Himpact2{/*how position absolute is used is in id title*/
  position:absolute; 
  TOP:161.2%; 
  LEFT:1.7%; 
}

#main_head{/*how position absolute is used is in id title*/
  position:absolute; 
  TOP:162.5%; 
  LEFT:41.6%;
  HEIGHT:12.5%; 
  width:45.8%;
  font-size:2.5vw;
}
#main_p{/*how position absolute is used is in id title*/
  position:absolute; 
  TOP:178.7%; 
  LEFT:37.5%; 
  width:54.2%;
  font-size: 1.8vw;
}

#Hrights{/*how position absolute is used is in id title*/
  position:absolute; 
  TOP:240%; 
  LEFT:33.3%;
  width:58.3%;
  height: 8.7%;
  border: 1px solid black;
  font-size:1.04vw;
  padding-top: 1.1%;
}
#Hbottem_gap{/*how position absolute is used is in id title*/
  position:absolute; 
  TOP:250.5%; 
  LEFT:1.7%; 	
  color:#1c4587ff;	
}

.dropbtn {
  background-color: #666666ff;
  color: #FFFFFF;  
  font-size: 1.95vw;
  border: none;
}

.dropdown {
  position: relative;  
}

.dropdown-content {
  display: none;
  position: absolute;
  left:0%; 
  background-color: #392273ff;
  width: 100%;
  z-index: 1;
}

.dropdown-content a {/*so when the ink was clicked it looked the same*/
  color: #FFFFFF;
  padding: 1.5% 2%;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #392273ff;}/*this made the background of the box stay the same*/

.dropdown:hover .dropdown-content {display: block;}/*this makes it that the the drop bow does not appear befor you hover over the navbar catagory*/

.dropdown:hover .dropbtn {background-color: #666666ff;}


.impact1{/*how position absolute is used is in id title*/
  position:absolute; 
  TOP:68.7%; 
  LEFT:1.7%; 
}
.impact2{/*how position absolute is used is in id title*/
  position:absolute; 
  TOP:156.2%; 
  LEFT:1.7%;   
}
.impact3{/*how position absolute is used is in id title*/
  position:absolute; 
  TOP:243.7%; 
  LEFT:1.7%; 
}
.impact4{/*how position absolute is used is in id title*/
  position:absolute; 
  TOP:331.2%; 
  LEFT:1.7%;   
}
.impact5{/*how position absolute is used is in id title*/
  position:absolute; 
  TOP:418.7%; 
  LEFT:1.7%; 
}
.impact6{/*how position absolute is used is in id title*/
  position:absolute; 
  TOP:506.2%; 
  LEFT:1.7%;   
}
.impact7{/*how position absolute is used is in id title*/
  position:absolute; 
  TOP:593.7%; 
  LEFT:1.7%; 
}
.impact8{/*how position absolute is used is in id title*/
  position:absolute; 
  TOP:681.2%; 
  LEFT:1.7%;   
}
lmi1{
  position:absolute; 
  TOP:20%; 
  LEFT:1.7%;
}
.header1{
  position:absolute; 
  TOP:65%; 
  LEFT:29.2%;
  width: 66.7%;
}
.mainI1{
  position:absolute; 
  TOP:85%; 
  LEFT:29.2%;
}
.par1{
  position:absolute; 
  TOP:153.2%; 
  LEFT:29.2%;
  width: 66.7%;	
}
.header2{
  position:absolute; 
  TOP:240%; 
  LEFT:29.2%;
  width: 66.7%;
}
.mainI2{
  position:absolute; 
  TOP:260%; 
  LEFT:29.2%;
}
.par2{
  position:absolute; 
  TOP:328.5%; 
  LEFT:29.2%;
  width: 66.7%;	
}
.header3{
  position:absolute; 
  TOP:415%; 
  LEFT:29.2%;
  width: 66.7%;
}
.mainI3{
  position:absolute; 
  TOP:435%; 
  LEFT:29.2%;
}
.par3{
  position:absolute; 
  TOP:503.5%; 
  LEFT:29.2%;
  width: 66.7%;	
}
.header4{
  position:absolute; 
  TOP:590%; 
  LEFT:29.2%;
  width: 66.7%;
}
.mainI4{
  position:absolute; 
  TOP:610%; 
  LEFT:29.2%;
}
.par4{
  position:absolute; 
  TOP:678.5%; 
  LEFT:29.2%;
  width: 66.7%;	
}
#Prights{/*how position absolute is used is in id title*/
  position:absolute; 
  TOP:231%; 
  LEFT:33.3%;
  width:58.3%;
  height: 8.7%;
  border: 1px solid black;
  padding-top: 1.1%;
  font-size:1.04vw;
}
#Pbottem_gap{/*how position absolute is used is in id title*/
  position:absolute; 
  TOP:240%; 
  LEFT:1.7%; 	
  color:#1c4587ff;	
}
#Lrights{/*how position absolute is used is in id title*/
  position:absolute; 
  TOP:756.2%; 
  LEFT:33.3%;
  width:58.3%;
  height: 8.7%;
  border: 1px solid black;
  padding-top: 1.1%;
  font-size:1.04vw;
}
#Lbottem_gap{/*how position absolute is used is in id title*/
  position:absolute; 
  TOP:762.5%; 
  LEFT:1.7%; 	
  color:#1c4587ff;	
}
#privacy_policy{/*how position absolute is used is in id title*/
  position:absolute; 
  TOP:106.2%; 
  LEFT:1.7;
  width:91.7%;	
}
ul {list-style: none;}/*this makes it that the normal bullet points are removed*/
ul li::before {/*this will make it that i can put something where i bullet points were*/
  content: "\2022"; color: #ffffff;/*this gives the code for the bullet points and then makes it the colour i want because the fixed colour was black*/
  display: inline-block; width: 1em;
  margin-left: -1em
}
.bullet_points{
	display: inline;
}
.email{
	color: #FFFFFF;	
}
#terms_and_conditions{/*how position absolute is used is in id title*/
  position:absolute; 
  TOP:1300%; 
  LEFT:1.7%;
  width:91.7%;	
}
#about_us{/*how position absolute is used is in id title*/
  position:absolute; 
  TOP:62.5%; 
  LEFT:1.7%;
  width:91.7%;	
}
#gallery_info{/*how position absolute is used is in id title*/
  position:absolute; 
  TOP:68.7%; 
}
#gallery{/*how position absolute is used is in id title*/
  position:absolute; 
  TOP:95.5%; 
  left:0%;
  width:100%;
  border: 2px solid #19ECAE;
  padding-left: 0.8%; /*was 10 px*/
  padding-top: 0.8%;
  padding-bottom: 0.8%;
}
#gallery_au{/*how position absolute is used is in id title*/
  position:absolute; 
  TOP:2100%; 
  LEFT:1.7%;
  width:91.7%;	
  padding-bottom:4.2%;/*was 50 px*/
}
.galleryim{
  position:relative;
  width:24%;
  height: 500px;
}
span{
	color: #FFFFFF;
	font-size:1.2vw;
	width: 24%;
	padding-left: 5%;
	padding-right: 5%;
}