@charset "utf-8";
/* CSS Document */
body/*this conects to the body*/ {
	 background-color:#1c4587ff;
	 color: #FFFFFF;/*this changes the word color*/
	 font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";/*this changes the font*/
	 font-weight: 400;/*this changes the font weight*/
}
h1{
	color: #FFFFFF;	
}
h2{
	color: #FFFFFF;	
}
h3{
	color: #FFFFFF;	
}
p{
	color: #FFFFFF;
}
@media (max-width: 1200px){/*this makes it that the max width is what i set the limit to because this is only designed for 1200px screens*/
}
#title {/*this uses postion absolet to make it where i wanted to be to the specfic px*/
	position:absolute;
	left:0%;
	top:0%;
	width:100%;
	height:62.5%;
	background-color:#392273ff;
}
#title2 {/*how position absolute is used is in id title*/
	position:absolute;
	TOP:6%;
	LEFT:29.2%;
	width:70.8%;
	height:40%;
	border:0;
	font-size: 3.7vw;
	color: #ffffff;
}
#navbar {/*how position absolute is used is in id title*/
	position:absolute; 
	TOP:50%; 
	LEFT:29.2%; 
	HEIGHT:32%; 
	width:66.6%; 	
	background-color:#666666ff;
	font-size: 25px;
	
}
a {
  color:#FFFFFF;
}
a:visited {
  color:#FFFFFF;
}
#logo {/*how position absolute is used is in id title*/
	position:absolute; 
	TOP:10%; 
	LEFT:-0.8%;
	float:left;
}
.borderedcells {/*the css mainly uses ids but does have a few classes as some things needed the same lables*/
  border: 1px solid black;
}
* {box-sizing: border-box;}
.mySlides {display: none;}/*this makes it display what the java script gives it for myslides from the html*/

.slideshow-container {/*how position absolute is used is in id title*/
  max-width: 1000px;
  position:absolute; 
  TOP:275px; 
  LEFT:350px; 
  HEIGHT:80px; 
  width:66%; 	
  margin: auto;
}


.active {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;/*the duration i want the fade for the slides to have*/
  animation-name: fade;
  animation-duration: 1.5s;/*the duration i want the fade for the slides to have*/
}

@-webkit-keyframes fade {/*this makes the fade that the slides use happens*/
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {/*this makes the fade that the slides use happens*/
  from {opacity: .4} 
  to {opacity: 1}
}
#wycdth{/*how position absolute is used is in id title*/
  position:absolute; 
  TOP:275px; 
  LEFT:20px; 
  HEIGHT:350px; 
  width:300px; 	
  background-color:#155456;
}

#Himpact1{/*how position absolute is used is in id title*/
  position:absolute; 
  TOP:15px; 
  LEFT:15px; 	
}

#Himpact2{/*how position absolute is used is in id title*/
  position:absolute; 
  TOP:15px; 
  LEFT:15px; 
}

#main_head{/*how position absolute is used is in id title*/
  position:absolute; 
  TOP:650px; 
  LEFT:500px;
  HEIGHT:50px; 
  width:550px;
}
#main_p{/*how position absolute is used is in id title*/
  position:absolute; 
  TOP:715px; 
  LEFT:450px; 
  width:650px;
  font-size: 25px;
}

#Hrights{/*how position absolute is used is in id title*/
  position:absolute; 
  TOP:935px; 
  LEFT:400px;
  width:700px;
  height: 35px;
  border: 1px solid black;
  padding-top: 8px;
}
#Hbottem_gap{/*how position absolute is used is in id title*/
  position:absolute; 
  TOP:970px; 
  LEFT:20px; 	
  color:darkgreen;	
}

.dropbtn {
  background-color: #666666ff;
  color: #FFFFFF;  
  font-size: 25px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {/*their is a negative left because the drop bow was on line with the words but i wanted it to drop with the word being the middle so i needed to make it negative*/
  display: none;
  position: absolute;
  left:-51.5px; 
  background-color: #392273ff;
  min-width: 231px;
  z-index: 1;
}

.dropdown-content a {/*so when the ink was clicked it looked the same*/
  color: #FFFFFF;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #392273ff;}/*this made the background of the box stay the same*/

.dropdown:hover .dropdown-content {display: block;}/*this makes it that the the drop bow does not appear befor you hover over the navbar catagory*/

.dropdown:hover .dropbtn {background-color: #666666ff;}

